<div class="text-center">
    <h1>
        Academics
    </h1>
    <h3 style="text-align: center;">I am completing my Bachelor of Science in Computer Engineering from Texas A&M</h3>
</div>

<div style="background-color: var(--surface-800); color: var(--primary-color-text)">
    <div class="grid" style="text-align: center;">
        <div class="col-8">
            <h3>Major Coursework</h3>
        </div>
        <div class="col-4">
            <h3>Minor Coursework</h3>
        </div>
        <div class="col-2">
            <strong>Computer Science</strong>
            <p>CSCE 121</p>
            <p>CSCE 222</p>
            <p>CSCE 221</p>
            <p>CSCE 350</p>
            <p>CSCE 313</p>
            <p>CSCE 315</p>
            <p>CSCE 462</p>
            <p>CSCE 481</p>
            <p>CSCE 483</p>
            <p>CSCE 411</p>
        </div>
        <div class="col-2">
            <strong>Electrical Engineering</strong>
            <p>ECEN 121</p>
            <p>ECEN 222</p>
            <p>ECEN 221</p>
            <p>ECEN 350</p>
            <p>ECEN 313</p>
        </div>
        <div class="col-2">
            <strong>Mathematics</strong>
            <p>MATH 151</p>
            <p>MATH 152</p>
            <p>MATH 251</p>
            <p>MATH 308</p>
            <p>MATH 311</p>
        </div>
        <div class="col-2">
            <strong>Sciences</strong>
            <p>BIOL 111</p>
            <p>BIOL 112</p>
            <p>BIOL 318</p>
            <p>CHEM 107</p>
            <p>CHEM 102</p>
            <p>CHEM 227</p>
            <p>CHEM 228</p>
            <p>BICH 410</p>
            <p>PHYS 206</p>
            <p>PHYS 207</p>
        </div>
        <div class="col-4">
            <strong>Miscellaneous</strong>
            <p>ENGL 104</p>
            <p>POLS 206</p>
            <p>POLS 207</p>
            <p>HIST 105</p>
            <p>HIST 106</p>
            <p>GEOG 201</p>
        </div>
    </div>
</div>
