<div class="text-center">
    <h1>
        Experiences
    </h1>
    <!-- <h3>B.S. Computer Engineering</h3> -->
    
</div>
<div class="grid">
    <div class="col center-card">
        <p-card header="Fujitsu Software Engineer" subheader="Summer 2022" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/Fujitsu-Logo.png" style="max-width:80%; width:100%" class="center">
            </ng-template>
            <p>I worked with industry experts to design, implement, and enhance Fujitsu's next-generation fiber optical communications products. As an intern, working under the direction of Senior Software Engineers and alongside interns, I gained experience with the process from design and implementation to unit testing and system integration</p>
            <ng-template pTemplate="footer">
                <!-- <p-button label="Learn More" icon="pi pi-angle-right"></p-button> -->
                <p-chart type="pie" [data]="fujitsu_intern" [style]="{'width': '40%'}"></p-chart>
            </ng-template>
        </p-card>
    </div>
    
    <div class="col center-card">
        <p-card header="Fujitsu Internship" subheader="Summer 2021" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/Fujitsu-Logo.png" style="max-width:80%; width:100%" class="center">
            </ng-template>
            <p>I worked with industry experts to design, implement, and enhance Fujitsu's next-generation fiber optical communications products. As an intern, working under the direction of Senior Software Engineers and alongside interns, I gained experience with the process from design and implementation to unit testing and system integration</p>
            <ng-template pTemplate="footer">
                <!-- <p-button label="Learn More" icon="pi pi-angle-right"></p-button> -->
                <p-chart type="pie" [data]="fujitsu_intern" [style]="{'width': '40%'}"></p-chart>
            </ng-template>
        </p-card>
    </div>

    <div class="col center-card">
        <p-card header="Teaching Assistant" subheader="Fall 2020 - Spring 2021" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/tamu-box-logo.png" style="max-width:80%; width:100%;" class="center">
            </ng-template>
            <p>I teach an intro to engineering class which uses Python as a way to teach students how to think critically from a development mindset. I instructed students on the basics of Python programming. In order to accomplish this, I had to diagnose and debug students' assignments.</p>
            <ng-template pTemplate="footer">
                <!-- <p-button label="Learn More" icon="pi pi-angle-right"></p-button> -->
                <p-chart type="pie" [data]="tamu_teaching" [style]="{'width': '40%'}"></p-chart>
            </ng-template>
        </p-card>
    </div>

    <div class="col center-card">
        <p-card header="NVIDIA Certified Machine Learning Intructor" subheader="Fall 2019" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/nvidia-logo.png" style="max-width:80%; width:100%" class="center">
            </ng-template>
            <p>I instructed attendees on the basics of machine learning using the Nvidia API. I also worked a team of five volunteers in order to instruct a room of 100 attendees.</p>
            <ng-template pTemplate="footer">
                <!-- <p-button label="Learn More" icon="pi pi-angle-right"></p-button> -->
                <p-chart type="pie" [data]="nvidia_ml" [style]="{'width': '40%'}"></p-chart>
            </ng-template>
        </p-card>
    </div>
</div>
<p class="text-center">
    <iframe src="assets/Resume.pdf" style="width:50%; height:600px;" frameborder="0"></iframe>
</p>
